services:
  mitmproxy:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: gathecageorge/mitmproxy:latest
    restart: unless-stopped
    ports:
      - 8080:8080       # proxy port
    environment:
      - AUTH_USERNAME=gggg
      - AUTH_PASSWORD=gggg
    command: >
      mitmdump --set block_global=false --set ssl_insecure=true --mode regular --listen-host 0.0.0.0 --listen-port 8080 -s /auth.py
