services:
  httpproxy:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: gathecageorge/httpproxy:latest
    restart: unless-stopped
    ports:
      - 3128:3128       # proxy port
    environment:
      - SQUID_USERNAME=gggg
      - SQUID_PASSWORD=gggg
